public/index.html
<!DOCTYPE html><html><head><meta charset="UTF-8"><link rel="stylesheet" href="/css/bootstrap.min.css"><link rel="stylesheet" href="/css/bootstrap-table.min.css"><link rel="stylesheet" href="/css/bootstrap-theme.min.css"><link rel="stylesheet" href="/css/bootstrap-select.min.css"><link rel="stylesheet" href="/css/blueimp-gallery.min.css"><link rel="stylesheet" href="/css/bootstrap-image-gallery.min.css"><link rel="stylesheet" href="/css/blueimp-gallery-indicator.css"><link rel="stylesheet" href="/css/fileinput.min.css"><link rel="stylesheet" href="/css/fuelux.css"><link rel="stylesheet" href="/css/admin.css"><script src="/js/jquery.min.js"></script><script src="/js/bootstrap.min.js"></script><script src="/js/bootstrap-table.min.js"></script></head><body><div role="navigation" class="navbar navbar-inverse"><div class="row"><div class="navbar-header"><button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div><div class="collapse navbar-collapse"><ul class="nav navbar-nav"><li class="active"><a href="#">tdsAdminer</a></li><li><a href="#about">About</a></li><li><a href="#contact">Contact</a></li></ul></div></div></div><div id="loading" style="display:none" role="progressbar" class="progress progress-striped active"><div class="bar"></div></div><div id="alert"></div><div role="navigation" class="navbar"><div class="container-fluid"><div class="row"><div class="tabbable"><ul class="nav nav-pills nav-stacked col-md-1"><li><a id="panel-domain-action" href="#panel-domain" data-toggle="tab">domain</a></li><li><a id="panel-user-action" href="#panel-user" data-toggle="tab">users</a></li><li><a id="panel-settings-action" href="#panel-settings" data-toggle="tab">settings</a></li><li><a id="panel-server-action" href="#panel-server" data-toggle="tab">server</a></li></ul><div class="tab-content col-md-10"><div id="panel-domain" class="tab-pane"><div id="modal-domain-create" tabindex="-1" role="dialog" aria-labelledby="modal-domain-create-label" aria-hidden="true" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-domain-create-label" class="modal-title">Добавить Домен</h4></div><div class="modal-body"><form id="form-domain-create"><div class="form-group"><label class="control-label">type  </label></div><div data-toggle="buttons" class="form-group btn-group btn-group-justified"><span class="btn btn-default active">user<input type="radio" name="type" value="user" checked="checked"></span><span class="btn btn-default">adult<input type="radio" name="type" value="adult"></span><span class="btn btn-default">no-adult<input type="radio" name="type" value="noadult"></span></div><div class="form-group"><label>user</label><select name="uid" class="form-control user-select"></select></div><div class="form-group"><label>domain</label><div contenteditable class="form-control domain-input">http://asdasd.sd asds.dsd ya.ru mail.ru<a href="asdf">asdf</a></div><input name="domain" type="hidden"></div><div class="form-group"><label>description</label><input type="text" name="description" maxlength="255" class="form-control"></div></form></div><div class="modal-footer"><button id="action-domain-create" type="submit" class="btn btn-primary">Добавить</button><button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button></div></div></div></div><div id="modal-domain-change" tabindex="-1" role="dialog" aria-labelledby="modal-domain-change-label" aria-hidden="true" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-domain-change-label" class="modal-title">Изменить</h4></div><div class="modal-body"><form id="form-domain-change"><div class="form-group"><label>id</label><input type="number" name="id" maxlength="255" disabled class="form-control"></div><div class="form-group"><label>login</label><input type="text" name="login" maxlength="255" class="form-control"></div><div class="form-group"><label>passowrd</label><input type="text" name="password" maxlength="255" class="form-control"></div></form></div><div class="modal-footer"><button id="action-domain-change" type="submit" class="btn btn-primary">Изменить</button><button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button></div></div></div></div><div id="modal-domain-delete" tabindex="-1" role="dialog" aria-labelledby="modal-domain-delete-label" aria-hidden="true" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-domain-delete-label" class="modal-title">Удаление пользователя</h4></div><div class="modal-body"><form id="form-domain-delete"><div class="form-group"><label>id</label><input type="number" name="id" maxlength="255" disabled class="form-control"></div><div class="form-group"><label>login</label><input type="text" name="login" maxlength="255" disabled class="form-control"></div><div class="form-group"><label>password</label><input type="text" name="password" maxlength="255" disabled class="form-control"></div></form></div><div class="modal-footer"><button id="action-domain-delete" type="submit" class="btn btn-primary">Удалить</button><button type="button" data-dismiss="modal" class="btn btn-default">Отмена</button></div></div></div></div><div id="modal-domain-many-delete" tabindex="-1" role="dialog" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-domain-many-delete-label" class="modal-title">Подвердить удаление пользователя </h4></div><div class="modal-body"></div><div class="modal-footer"><button id="action-domain-many-delete" type="submit" class="btn btn-danger btn-ok">Удалить</button><button type="button" data-dismiss="modal" class="btn btn-default">Отмена</button></div></div></div></div><div id="alert-domain"></div><div id="toolbar-domain"><div role="form" class="form-inline"><div class="form-group"><button data-toggle="modal" data-target="#modal-domain-create" class="btn btn-primary">Создать</button></div><div class="form-group"><button data-toggle="modal" data-target="#modal-domain-many-delete" class="btn btn-default">Удалить выбранное</button></div><div class="form-group"><label class="control-label">type  </label><div data-toggle="buttons" class="form-group btn-group"><span class="btn btn-default active">all<input type="radio" name="type" value="all" checked="checked"></span><span class="btn btn-default">user<input type="radio" name="type" value="user"></span><span class="btn btn-default">adult<input type="radio" name="type" value="adult"></span><span class="btn btn-default">no-adult<input type="radio" name="type" value="noadult"></span></div></div><div class="form-group"><label>mode</label><div data-toggle="buttons" class="btn-group"><label class="btn btn-default active">all<input type="radio" name="type" value="all" checked="checked"></label><label class="btn btn-default">on<input type="radio" name="type" value="adult"></label><label class="btn btn-default">no-adult<input type="radio" name="type" value="noadult"></label></div></div></div></div><table id="table-domain"></table></div><div id="panel-user" class="tab-pane"><div id="modal-user-create" tabindex="-1" role="dialog" aria-labelledby="modal-user-create-label" aria-hidden="true" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-user-create-label" class="modal-title">Создать Пользователя</h4></div><div class="modal-body"><form id="form-user-create"><div class="form-group"><label>login</label><input type="text" name="login" maxlength="255" class="form-control"></div><div class="form-group"><label>password</label><input type="text" name="password" maxlength="255" class="form-control"></div></form></div><div class="modal-footer"><button id="action-user-create" type="submit" class="btn btn-primary">Создать</button><button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button></div></div></div></div><div id="modal-user-change" tabindex="-1" role="dialog" aria-labelledby="modal-user-change-label" aria-hidden="true" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-user-change-label" class="modal-title">Изменить</h4></div><div class="modal-body"><form id="form-user-change"><div class="form-group"><label>id</label><input type="number" name="id" maxlength="255" readonly class="form-control"></div><div class="form-group"><label>login</label><input type="text" name="login" maxlength="255" class="form-control"></div><div class="form-group"><label>passowrd</label><input type="text" name="password" maxlength="255" class="form-control"></div></form></div><div class="modal-footer"><button id="action-user-change" type="submit" class="btn btn-primary">Изменить</button><button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button></div></div></div></div><div id="modal-user-delete" tabindex="-1" role="dialog" aria-labelledby="modal-user-delete-label" aria-hidden="true" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-user-delete-label" class="modal-title">Удаление пользователя</h4></div><div class="modal-body"><form id="form-user-delete"><div class="form-group"><label>id</label><input type="number" name="id" maxlength="255" disabled class="form-control"></div><div class="form-group"><label>login</label><input type="text" name="login" maxlength="255" disabled class="form-control"></div><div class="form-group"><label>password</label><input type="text" name="password" maxlength="255" disabled class="form-control"></div></form></div><div class="modal-footer"><button id="action-user-delete" type="submit" class="btn btn-primary">Удалить</button><button type="button" data-dismiss="modal" class="btn btn-default">Отмена</button></div></div></div></div><div id="modal-user-many-delete" tabindex="-1" role="dialog" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-user-many-delete-label" class="modal-title">Подвердить удаление пользователя </h4></div><div class="modal-body"></div><div class="modal-footer"><button id="action-user-many-delete" type="submit" class="btn btn-danger btn-ok">Удалить</button><button type="button" data-dismiss="modal" class="btn btn-default">Отмена</button></div></div></div></div><div id="alert-user"></div><div id="toolbar-user"><div role="form" class="form-inline"><div class="form-group"><button data-toggle="modal" data-target="#modal-user-create" class="btn btn-primary">Создать</button></div><div class="form-group"><button data-toggle="modal" data-target="#modal-user-many-delete" class="btn btn-default">Удалить выбранное</button></div></div></div><table id="table-user"></table></div><div id="panel-settings" class="tab-pane"></div><div id="panel-server" class="tab-pane"><div id="modal-server-create" tabindex="-1" role="dialog" aria-labelledby="modal-server-create-label" aria-hidden="true" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-server-create-label" class="modal-title">добавить Сервер</h4></div><div class="modal-body"><form id="form-server-create"><div class="form-group"><label>name</label><input type="text" name="name" maxlength="255" class="form-control"></div><div class="form-group"><label>ip</label><input type="text" name="ip" maxlength="255" class="form-control"></div><div class="form-group"><label>login</label><input type="text" name="login" value="root" maxlength="255" class="form-control"></div><div class="form-group"><label>password</label><input type="text" name="password" maxlength="255" class="form-control"></div><div class="form-group"><label>user</label><select name="user" class="form-control"><option value="0">None</option></select></div><div class="form-group"><label>description</label><textarea rows="5" name="description" class="form-control"></textarea></div></form></div><div class="modal-footer"><button id="action-server-create" type="submit" class="btn btn-primary">Добавить</button><button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button></div></div></div></div><div id="modal-server-change" tabindex="-1" role="dialog" aria-labelledby="modal-server-change-label" aria-hidden="true" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-server-change-label" class="modal-title">Изменить</h4></div><div class="modal-body"><form id="form-server-change"><div class="form-group"><label>id</label><input type="number" name="id" maxlength="255" readonly class="form-control"></div><div class="form-group"><label>name</label><input type="text" name="name" maxlength="255" class="form-control"></div><div class="form-group"><label>ip</label><input type="text" name="ip" maxlength="255" class="form-control"></div><div class="form-group"><label>login</label><input type="text" name="login" value="root" maxlength="255" class="form-control"></div><div class="form-group"><label>password</label><input type="text" name="password" maxlength="255" class="form-control"></div><div class="form-group"><label>user</label><select name="user" class="form-control"><option value="0">None</option></select></div><div class="form-group"><label>description</label><textarea rows="5" name="description" class="form-control"></textarea></div></form></div><div class="modal-footer"><button id="action-server-change" type="submit" class="btn btn-primary">Изменить</button><button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button></div></div></div></div><div id="modal-server-delete" tabindex="-1" role="dialog" aria-labelledby="modal-server-delete-label" aria-hidden="true" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-server-delete-label" class="modal-title">Удаление пользователя</h4></div><div class="modal-body"><form id="form-server-delete"><div class="form-group"><label>id</label><input type="number" name="id" maxlength="255" disabled class="form-control"></div><div class="form-group"><label>login</label><input type="text" name="login" maxlength="255" disabled class="form-control"></div><div class="form-group"><label>password</label><input type="text" name="password" maxlength="255" disabled class="form-control"></div></form></div><div class="modal-footer"><button id="action-server-delete" type="submit" class="btn btn-primary">Удалить</button><button type="button" data-dismiss="modal" class="btn btn-default">Отмена</button></div></div></div></div><div id="modal-server-many-delete" tabindex="-1" role="dialog" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button><h4 id="modal-server-many-delete-label" class="modal-title">Подвердить удаление пользователя </h4></div><div class="modal-body"></div><div class="modal-footer"><button id="action-server-many-delete" type="submit" class="btn btn-danger btn-ok">Удалить</button><button type="button" data-dismiss="modal" class="btn btn-default">Отмена</button></div></div></div></div><div id="alert-server"></div><div id="toolbar-server"><div role="form" class="form-inline"><div class="form-group"><button data-toggle="modal" data-target="#modal-server-create" class="btn btn-primary">Создать</button></div><div class="form-group"><button data-toggle="modal" data-target="#modal-server-many-delete" class="btn btn-default">Удалить выбранное</button></div></div></div><table id="table-server"></table></div></div></div></div></div></div><script src="/js/core.js"></script><div id="buffer"></div><div id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h4 id="modal-login-label" class="modal-title">tdsAdminer</h4></div><div class="modal-body"><div id="login"></div><form id="form-login"><div class="form-group"><label>login</label><input type="text" name="login" maxlength="255" class="form-control"></div><div class="form-group"><label>password</label><input type="password" name="password" maxlength="255" class="form-control"></div></form></div><div class="modal-footer"><button id="action-login" type="submit" class="btn btn-primary btn-block">Войти</button></div></div></div></div></body></html>

jade/index.jade
doctype html
html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-table.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/bootstrap-select.min.css')
        link(rel='stylesheet', href='/css/blueimp-gallery.min.css')
        link(rel='stylesheet', href='/css/bootstrap-image-gallery.min.css')
        link(rel='stylesheet', href='/css/blueimp-gallery-indicator.css')
        link(rel='stylesheet', href='/css/fileinput.min.css')
        link(rel='stylesheet', href='/css/fuelux.css')
        link(rel='stylesheet', href='/css/admin.css')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/bootstrap-table.min.js')
    body
        .navbar.navbar-inverse(role='navigation')
          .row
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='#') tdsAdminer
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact
        #loading.progress.progress-striped.active(style='display:none',role='progressbar')
            .bar
        #alert
        .navbar(role='navigation')
            .container-fluid
                .row
                    .tabbable
                        ul.nav.nav-pills.nav-stacked.col-md-1
                            li
                                a#panel-domain-action(href='#panel-domain', data-toggle='tab') domain
                            li
                                a#panel-user-action(href='#panel-user', data-toggle='tab') users
                            li
                                a#panel-settings-action(href='#panel-settings', data-toggle='tab') settings
                            li
                                a#panel-server-action(href='#panel-server', data-toggle='tab') server
                        .tab-content.col-md-10
                            #panel-domain.tab-pane
                                include domain
                            #panel-user.tab-pane
                                include user
                            #panel-settings.tab-pane
                                include settings
                            #panel-server.tab-pane
                                include server
        script(src='/js/core.js')
        #buffer
        include login
